<br>
	&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-warning btn-sm" ng-click="go('/home')">&#8592; BACK</button> 
	<div class="container">
	<h1 style="text-align:center;">Group No. {{no}}</h1>
	<ul class="nav nav-pills">
		<li ng-repeat="question in group.groupQuestions | orderBy: 'questionNo'" ng-class="{active:activeQuestionNo==question.questionNo}">
			<a ng-click="changeQuestion(question.questionNo)">Question No. {{question.questionNo}}</a>
		</li>
	</ul>
	<div class="question-div border-it" ng-repeat="question in group.groupQuestions | orderBy: 'questionNo'" ng-show="activeQuestionNo==question.questionNo">
		<h4><u>Question No: </u></h4>{{question.questionNo}}
		<h4><u>Question Title: </u></h4>{{question.questionTitle}}
		<h4><u>Question Content: </u></h4><span style="white-space: pre-wrap;">{{question.questionContent}}</span>
		<br><h4><u>Code: </u></h4> 
		<pre>{{question.code}}</pre>
	</div>
</div>