<div class="container" ng-controller="GroupContentController as grpCntCtrl">
	<em>Group Data</em>
	<div class="question-div" ng-repeat="question in group.groupQuestions | orderBy: 'questionNo'">
		<button ng-click="deleteQuestion(question.questionNo)">DELETE THIS QUESTION</button>
		<h4><u>Question No: </u></h4><em>{{question.questionNo}}</em>
		<h4><u>Question Title: </u></h4><em>{{question.questionTitle}}</em>
		<h5><u>Question Content: </u></h5><em>{{question.questionContent}}</em>
		<br><h5><u>Code: </u></h5> 
		<pre>{{question.code}}</pre>
	</div>
	
	<form>
		<table class="grp-entry">
			<tr><td>Add a new Question:</td></tr>
			<tr><td>Question No:</td><td><input type="text" ng-model="newQuestion.questionNo"></td></tr>
			<tr><td>Question Title:</td><td><input type="text" ng-model="newQuestion.questionTitle"></td></tr>
			<tr><td>Question Content:</td><td><input type="text" ng-model="newQuestion.questionContent"></td></tr>
			<tr><td><button ng-click="addQuestion()">ADD</button></td></tr>
			<tr><td>Code:</td><td><textarea ng-model="newQuestion.code"></td></tr>
			
		</table>
	</form>
</div>